{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>

  .newdiv{
float:left;
    margin-right:30px;
    height:150px;
    weight:150px;
  }
.memberimg{
 width:auto;
 height:auto;
 max-width:100%;
 max-height:100%;
}

</style>


<div class="newdiv">
 <img class="memberimg" src="../images/{{post.name}}.png" >
<p>{{post.name}}({{post.date | date: "%Y"}}-)</p>
  
</div>
           

